.user{
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.user img{
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 20px;
}
.name{
    cursor: pointer;
    color:#000;
    margin-bottom: 5px;
}
.city{
    font-size: 14px;
}
.user button{
    cursor: pointer;
    font-size: 14px;
    display: block;
    background: #4285f4;
    padding: 10px ;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    border: none;
    margin-left: auto;
    transition: all .2s ease;
}
.user button:disabled{
    background: #e90028;
}
.pagination{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.pagination li{
    position: relative;
    display: block;
    max-width: 20px;
    min-width: 20px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.selected{
    
    font-weight: 600;
}
.selected::after{
    content:'';
    position: absolute;
    bottom: -20%;
    left: 45%; 
    transform: rotate(45deg);
    background: #000;
    width: 7px;
    height: 1px;
}
.selected::before{
    content:'';
    position: absolute;
    right: 45%;
    bottom: -20%;
    transform: rotate(135deg);
    background: #000;
    width: 7px;
    height: 1px;
}