.profile__header {
  width: 100%;
  padding: 0 !important;
}

.profile__cover {
  border-radius: 5px;
  width: 100%;
  min-height: 232px;
  background: url("https://baturevich.ru/images/cn/s1200.jpg");
  background-size: cover;
  background-position: 0 60%;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.profile__info {
  padding: 20px 30px 20px 30px !important;
  position: relative;
  color: #202124;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  border-radius: 5px;
}

.main_info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.main_info_item {
  border-bottom: 1px solid #f1f1f1
}

.soc_net_on_profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.soc_net_on_profile__item a {
  color: #202124;
  font-size: 22px;
  margin-right: 20px;
}

.soc_net_on_profile__item a i {
  font-weight: 300;
}


.profile__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}



.profile__name {
  text-align: left;
  color: #202124;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.status {
  padding: 3px 0;
  width: 100%;
  margin-bottom: 10px;
}

.status:hover {
  background: #fafafb;
}

.status span {
  font-size: 16px;
  cursor: pointer;
}

.status input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 12px;
}



.button_group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

}

.button_group button,
.button_group a {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  background: #4285f4;
  padding: 10px 0;
  border-radius: 5px;
  color: #fff !important;
  border: 2px solid transparent;
  transition: all .2s ease;
  width: 200px;
  margin-bottom: 10px;
  height: 40px;
}
.edit_btn{
  border:none;
  cursor: pointer;
  font-size: 14px;
  background: #4285f4;
  border-radius: 5px;
  color: #fff !important;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  height: 40px;
}
.edit_btn i{
  font-size: 14px;
  margin-right: 5px;
}
.edit_btn:focus, .edit_btn:active{
  border:none;
  outline: none;
}

.show_more {
  margin-right: auto;
  background: transparent;
  border: none;
  padding: 0;
}

.show_more:focus,
.show_more:active {
  outline: none;
  background: transparent;
  border: none;
}

.profile_data {

  font-size: 14px;
  text-transform: lowercase;
  text-align: center;
  color: #5f6368;
  margin-right: 20px;

}

.short_data_content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile_data:last-child {
  margin-right: 0;
}

.profile_data__number {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #202124;
}

.profile_data:last-child {
  margin-right: 0;
}


/* Profile_INfo */
.more_info {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}
.more_info i{
  margin-left: 3px;
}

.more_item {
  display: flex;
  align-self: center;
}

.user_features{
  display: flex;
  margin-bottom: 10px;
}
.user_features li{
  margin-bottom: 5px;
}
.user_features p{
  margin-bottom:15px;
}
.user_features p:last-child{
  margin-bottom: 5px;
}

.answers_list{
  margin-left: 20px;
}
.contacts_item{
  text-transform: capitalize;
}

.hide_more {
  margin-left: auto;
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  background: transparent;
  border: none;
  margin-top: 20px;
  font-size: 14px;
}
.edit_info{
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 10px;
  color: #828282;
  transition: all .2s ease;
}
.edit_info_mobile{
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  top: 2px;
  right: 10px;
  color: #828282;
  transition: all .2s ease;
}
.more_info:hover .edit_info{
  opacity: 1;
}
.edit_info i{
  color: #828282;
  font-size: 14px;
  margin-right: 3px;
}
.edit_info:hover{
  color:#000;
}
button.save_edit_info{
  border:none;
  cursor: pointer;
  font-size: 14px;
  background: #4285f4;
  border-radius: 5px;
  color: #fff !important;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
button.save_edit_info_mobile{
  opacity: 1;
  top: 80%;
  right: 100px;
  border: none;
  background: transparent;
  outline: none;
}

.more_info:hover .close_edit_info{
  opacity: 1;
 
}
.edit_mode_inputs{
  padding-top: 0 !important;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.edit_mode_inputs input{
  margin-bottom: 7px;
}
.edit_mode_inputs input[type=text]{
  border:none;
  border-bottom: 1px solid #ccc;
}

.contacts_block p{
  text-transform: capitalize;
  margin-top: 15px;
}

/* Toggle buttton */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  border-radius: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4285f4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4285f4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.error{
  padding: 10px;
  width: 100%;
}
.error span{
  border-radius: 6px;
  position: absolute;
  top: 40%;
  right: 5%;
  color: #e90028;
}
/* PROFILE_PHOTO */
.profile__item_img_block {
  position: relative;
}

.profile__img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  
}

.upload_photo {
  text-align: center;
  top: 3%;
  right: 7%;
  position: absolute;
  max-width: 25px;
  border-radius: 6px;
  background: #f5f5f5;
  opacity: .5;
  max-height: 25px
}
.upload_photo i{
  color: #828282;
  opacity: .6;
  transition: all .2s ease;
}
.profile__item_img_block:hover .upload_photo{
  opacity: .9;
  transition: all .2s ease;
}

.upload_photo input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none
}
.setting_photo{
  width: 100%;
  min-height: 200px;
}

.setting_text{
  text-align: center;
  margin: 0 auto;
  margin-top: 45%;
  -webkit-animation: setting_text 1s linear infinite;
  animation: setting_text 1s linear infinite;
}
@-webkit-keyframes setting_text {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}
@keyframes setting_text {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}

@media screen and (max-width:768px) {
  .profile__item {
    justify-content: center;
  }
  .profile__img {
    margin-bottom: 10px;
  }
  .assets{
    text-align: center;
  }
  .button_group {
    flex-direction: row;
  }
  .edit_btn{
    width: 70%;
    margin: 0 auto;
  }
  .button_group button,
  .button_group a {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .button_group button,
  .button_group a:first-child {
    margin-left: 0;
  }
  .save_edit_info{
    margin: 0 auto;
  }
  
  .upload_photo{
    right: 17%;
  }
}

