.profile__header {
  width: 100%;
  padding: 0 !important;
}

.profile__cover {
  border-radius: 5px;
  width: 100%;
  min-height: 232px;
  background: url("https://baturevich.ru/images/cn/s1200.jpg");
  background-size: cover;
  background-position: 0 60%;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.profile__info {
  padding: 20px 30px 20px 30px !important;
  position: relative;
  color: #202124;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  border-radius: 5px;
}
.main_info{
  display: flex;
  flex-direction: column;
}
.main_info_item{
  border-bottom: 1px solid #f1f1f1
}
.soc_net_on_profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.soc_net_on_profile__item a {
  color: #202124;
  font-size: 22px;
  margin-right: 20px;
}

.soc_net_on_profile__item a i {
  font-weight: 300;
}


.profile__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile__img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.profile__name {
  text-align: left;
  color: #202124;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.status {
  padding: 3px 0;
  width: 100%;
  margin-bottom: 10px;
}

.status:hover {
  background: #fafafb;
}

.status span {
  font-size: 16px;
  cursor: pointer;
}

.status input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 12px;
}



.button_group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

}

.button_group button,
.button_group a {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  background: #4285f4;
  padding: 10px 0;
  border-radius: 5px;
  color: #fff !important;
  border: 2px solid transparent;
  transition: all .2s ease;
  width: 200px;
  margin-bottom: 10px;
  height: 40px;
}

.show_more {
  margin-right: auto;
  background: transparent;
  border: none;
  padding: 0;
}

.show_more:focus,
.show_more:active {
  outline: none;
  background: transparent;
  border: none;
}

.profile_data {

  font-size: 14px;
  text-transform: lowercase;
  text-align: center;
  color: #5f6368;
  margin-right: 20px;

}
.short_data_content{
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile_data:last-child {
  margin-right: 0;
}

.profile_data__number {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #202124;
}

.profile_data:last-child {
  margin-right: 0;
}

.more_info {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.more_item{
  display: flex;
  align-self: center;
}
.user_features{
  display: flex;
}
.user_features p{
  margin-bottom: 7px;
}
.user_features div:first-child p{
  color: #828282;
}
.user_features div:last-child{
  margin-left: 50px;
}
.user_features:last-child p{
  color: #000;
}

.hide_more {
  margin-left: auto;
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  background: transparent;
  border: none;
  margin-top: 20px;
  font-size: 14px;
}
